.analysis {
  padding: 1.8em;
  @media only screen and (max-width: 500px) {
    padding: 0; 
    background-color: transparent;
    box-shadow: none;
  }
}

.charts {
  display: grid;
  grid-gap: 20px;

  @media only screen and (min-width: 850px) {
    grid-template-columns: 1fr 1fr;
  }
  @media only screen and (min-width: 1024px) {
    // grid-template-columns: 1fr 1fr 1fr;
  }
}
