.btn {
  font-size: 16px;
  padding: 13px;
  background-color: $black;
  color: $white;
  -webkit-appearance: none;


  &-red {
    background-color: $red;
    color: $white;
  }
  
  &-blue {
    background-color: $blue;
    color: $white !important;
  }
  
  &-inverse {
    background-color: $black;
    color: $white !important;
  }
}

.btn-group {
  display: grid;
  grid-gap: 20px;
}
