.btn {
  font-size: 16px;
  padding: 13px;
  text-align: center;
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #373F47;
  color: $white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  cursor: pointer;
  transition: all 0.25s;


  &-red {
    background-color: $red;
    color: $white;
  }
  
  &-blue {
    background-color: $blue;
    color: $white !important;
  }
  
  &-inverse {
    background-color: $black;
    color: $white !important;
  }

  &-clear {
    background-color: transparent;
    color: $black;
  }

  &-disabled {
    background-color: #CDD2ED;
    color: darken($gray, 10%);
    cursor: not-allowed;
  }
}

.btn-group {
  display: grid;
  grid-gap: 20px;

  & .btn {
    width: 100%;
  }
}

.btn-group-horiz {
  display: flex;
  & > * { margin-right: 5px; }
}

button {
  border-width: 0;
}
