.chart {
  background-color: #fdfdfd;

  &.pie-chart {
    border-radius: 100%;
  }
}

.chart-container {
  fill: #fff;
}

.svg-bar {
  fill: steelblue;

  transition: all 0.3s ease-out;
}

.fade-in {
  animation: fadein 1.7s ease-in;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
