.analysis {
  padding: 1.8em;
  background-color: $white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.chart {
  font-size: 1em;
  // background-color: $white;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.chart-container {
  padding: 1.5em;
  border: solid 1px $gray;
  border-radius: 5px;
}

.svg-bar {
  fill: steelblue;

  transition: all 0.3s ease-out;
}

.fade-in {
  animation: fadein 1.7s ease-in;
}

.pack-node text {
  font-size: .7em;
  text-anchor: middle;
  fill: $white;

  &.active {
    font-size: 1em;
    animation: fadein .7s ease-out;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.dot {
  animation: fadein .5s;
}