$blue: #0074D9;
$teal: #39CCCC;
$red: #FF4136;
$fuschia: #F012BE;
$black: #1C1C1C;
$gray: #AAAAAA;
$white: #FAFAFF;

$brandpink: #D65780;
$jet: #363636;
$whitesmoke: #F4F4F4;

// thoughts & cluster colors
$selected: #4B4E6D;
$cluster1: 1;
$cluster2: 2;

// vendors :O
$googlered: #dd4b39;
$facebookblue: #3b5998;

// paper feel
// white & black