form, .form {
  display: grid;
  grid-gap: 20px;

  * {
    -webkit-appearance: none;
    border-radius: 0;
  }
}

textarea, input, select, option {
  color: $black;
  background-color: inherit;
  font-size: inherit;
}

textarea {
  border-width: 0;
  resize: none;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: transparent;

  &.red { color: $red; }
}

input {
  width: 100%;
  padding: 10px 0;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: none;
  border-bottom: solid 2px $jet;
  transition: all 0.5s;
}

textarea, input { font-size: 20px; }
input.cluster-name { font-size: 1em; }
textarea:focus, input:focus, button:focus, select:focus {
  outline: none;
}

.search {
  border-bottom: solid 2px $jet;
  display: grid;
  grid-template-columns: 9fr 1fr;
  align-items: center;
  margin-bottom: 1em;

  & input {
    border-width: 0;
    background-color: inherit;
    border-radius: 0;
    box-shadow: none;
  }
  
  & i {
    padding-right: 10px;
    color: $jet;
    text-align: right;
  }
}


span.select {
  //https://codepen.io/hougasian/pen/EVPWeq/
  display: inline-block;
  position: relative;
  vertical-align: middle;
  border: solid 2px $jet;
  &:before, &:after {
    content: "";
    position: absolute;
  }
  &:after {
    color: $black;
    font-family: "Fontawesome";
    font-size: inherit;
    content: "\f107";
    padding: 0.5em;
    pointer-events: none;
    right: 0.3em; 
    top: -2px;
    vertical-align: middle;
  }
}
select {
  color: $black;
  cursor: pointer;
  // Sass specific RGBA mixin
  border: none;
  width: 100%;
  padding: 0.5em;
  padding-right: 2em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}
