form {
  display: grid;
  grid-gap: 20px;
  //justify-items: center;
}

button {
  border-width: 0;
  background-color: transparent;
}
button:disabled {
  color: $gray;
}

textarea, input {
  color: $black;
  background-color: $white;
}

textarea {
  border-width: 0;
  height: 30vh;
  padding: 15px;
  border-radius: 5px;
  resize: none;

  &.red { color: $red; }
}

input {
  width: 100%;
  padding: 10px;
  border: solid 2px lighten($blue, 30%);
  border-radius: 5px;
}

textarea, input { font-size: 20px; }
textarea:focus, input:focus, button:focus {
  outline: none;
}

.search {
  border-bottom: solid 1px $white;
  display: grid;
  grid-template-columns: 9fr 1fr;
  align-items: center;
  margin-bottom: 1em;

  & input {
    border-width: 0;
    background-color: inherit;
    color: $white;
    border-radius: 0;
  }
  
  & i {
    padding-right: 10px;
  }
}
