form {
  display: grid;
  grid-gap: 20px;
  margin-bottom: 30px;
  //justify-items: center;

  * {
    -webkit-appearance: none;
    border-radius: 0;
  }
}

button {
  border-width: 0;
  background-color: transparent;
}
button:disabled {
  color: $gray;
}

textarea, input, select, option {
  color: $black;
  background-color: $white;
  font-size: inherit;
}

textarea {
  border-width: 0;
  height: 30vh;
  padding: 15px;
  resize: none;
  border: solid 1px $black;

  &.red { color: $red; }
}

input {
  width: 100%;
  padding: 10px;
  // border: solid 1px lighten($blue, 30%);
  border: solid 1px #d3dce6;
  transition: border-color 0.5s;

  &:focus {
    border-color: lighten($blue, 30%);
  }
}

textarea, input { font-size: 20px; }
textarea:focus, input:focus, button:focus, select:focus {
  outline: none;
}

.search {
  border-bottom: solid 1px $black;
  display: grid;
  grid-template-columns: 9fr 1fr;
  align-items: center;
  margin-bottom: 1em;

  & input {
    border-width: 0;
    background-color: inherit;
    border-radius: 0;
  }
  
  & i {
    padding-right: 10px;
  }
}


span.select {
  //https://codepen.io/hougasian/pen/EVPWeq/
  display: inline-block;
  position: relative;
  vertical-align: middle;
  &:before, &:after {
    content: "";
    position: absolute;
  }
  &:after {
    color: $black;
    font-family: "Fontawesome";
    font-size: inherit;
    content: "\f107";
    padding: 0.5em;
    pointer-events: none;
    right: 0.3em; 
    top: -2px;
    vertical-align: middle;
  }
}
select {
  color: $black;
  cursor: pointer;
  // Sass specific RGBA mixin
  border: 1px solid $black;
  width: 100%;
  padding: 0.5em;
  padding-right: 2em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}
