.jot-container {
  display: flex;
  width: auto;
  max-width: 600px;
  margin: 0 auto;
  height: calc(100vh - 170px);

  & .jot-form {
    align-self: flex-start;
    margin-top: 10%;
    width: 100%;
  }
}