.loader {
  width: 3em;
  height: 3em;
  border-radius: 100%;
  border: solid .5em #f3f3f3;
  border-bottom: solid $fuschia;
  border-right: none;
  border-top: none;
  border-left: none;
  //border-right: solid .5em $teal;
  //border-top: solid .5em $orange;
  //border-left: solid .5em $aqua;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.horiz-loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;

  &:before{
    display: block;
    content: '';
    position: absolute;
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: $fuschia;
    animation: flying 2s linear infinite;
  }
}

@keyframes flying {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% { left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}
