.floating-message {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0%, 0%, 0%, 0.5);

  display: grid;
  align-items: center;
  text-align: center;

  & .floating-message-body {
    background-color: $white;
    & * { color: $black; }
    padding: 50px;
    width: 100%;

    display: grid;
    grid-gap: 15px;

    & .horiz-loader {
      margin-top: 20px;
    }

    & h3 { line-height: 1.3em; }

    & i {
      font-size: 2em;
      color: $blue;
      padding-bottom: .5em;
    }
  }
}
