.thought-list {
  display: grid;
  grid-gap: 20px;
  padding: 10px 0 30px 0;

  &.linked {
    grid-gap: 0;
  }
}

.thought {
  display: grid;
  grid-gap: 10px;
  background-color: $white;
  color: $black;

  position: relative;

  padding: 10px;
  border: solid 2px #d3dce6;
  transition: border .5s;

  &.selected { border-color: $teal; }
  & * { color: $black; }
  & p {
    padding: 10px 0;
  }

  &.thought-cluster {
    padding-top: 25px;
    margin-top: 16px;
  }

  &.thought-cluster:after {
    content: '';
    width: 99.5%;
    height: 10px;
    position: absolute;
    top: -7px;
    left: 0.25%;
    right: 0.25%;
    background-color: lighten($gray, 20%);
    z-index: -1;
    transition: background-color 0.5s;
  }
  &.thought-cluster:before {
    content: '';
    width: 98%;
    height: 10px;
    position: absolute;
    top: -12px;
    left: 1%;
    right: 1%;
    background-color: lighten($gray, 15%);
    z-index: -1;
    transition: background-color 0.5s;
  }

  &.thought-cluster.selected:after {
    background-color: darken($teal, 20%);
  }
  &.thought-cluster.selected:before {
    background-color: darken($teal, 25%);
  }

  &.thought-linked {
    padding-top: 25px;
    border-radius: 0;
    border-color: transparent;

    &:first-of-type {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    &:last-of-type {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;

  & > button, & > span {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.category {
  display: grid;
  align-items: center;
  font-size: 12px;
  text-align: center;
  line-height: 1em;
  padding: 5px 7px;
  background-color: $teal;
  color: $white;

  &.remove-category {
    & * { color: $white; }

    & > span {
      display: flex;
    }

    & i {
      font-size: 10px;
      align-self: flex-end;
      margin-left: 5px;
      margin-bottom: 1px;
    }
  }
}

.subheader {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 3fr 1fr;

  & * { color: darken($gray, 20%); }

  & > div {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: end;
  }

  & i {
    font-size: 12px;
    color: darken($gray, 30%);
  }
}

.date {
  display: grid;
  align-items: center;
  font-size: 12px;
}

.cluster-link {
  font-size: 12px;
  background-color: lighten($purple, 50%);
  color: $purple;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 2px 5px;

  &.unlink i {
    font-size: 12px;
  }
}

.cluster-button-fixed {
  position: fixed;
  bottom: -80px;
  left: 0;
  background-color: $white;
  box-shadow: 0 1px 20px rgba(0,0,0,0.19), 0 1px 6px rgba(0,0,0,0.23);
  width: 100%;
  padding: 15px 30px;
  transition: all 0.2s;
  
  display: grid;

  &.active {
    bottom: 0;
  }
}

.cluster-categories {
  margin-bottom: 30px;
}