.thought-list {
  display: grid;
  grid-gap: 20px;
  padding: 10px 0 30px 0;

  &.linked {
    grid-gap: 0;
  }
}

.thought {
  display: grid;
  grid-gap: 10px;
  background-color: $white;
  color: $black;
  border-radius: 3px;

  position: relative;

  padding: 10px;
  //border: solid 1px $gray;

  & * { color: $black; }
  & p {
    padding: 10px 0;
  }

  &.thought-cluster {
    padding-top: 20px;
    margin-top: 10px;
  }

  &.thought-cluster:after {
    content: '';
    width: 98%;
    height: 10px;
    position: absolute;
    top: -5px;
    left: 1%;
    border-radius: 3px;
    background-color: lighten($gray, 15%);
    z-index: -1;
  }
  &.thought-cluster:before {
    content: '';
    width: 96%;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 2%;
    border-radius: 3px;
    background-color: lighten($gray, 5%);
    z-index: -1;
  }

  &.thought-linked {
    padding-top: 25px;
    border-radius: 0;
    border-color: transparent;

    &:first-of-type {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    &:last-of-type {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

.categories {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px;
}

.category {
  display: grid;
  align-items: center;
  font-size: 12px;
  text-align: center;
  padding: 5px;
  background-color: $teal;
  color: $white;
  border-radius: 2px;

  

  &.remove-category > div {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 5px;

    & i { font-size: 10px; padding-top: 2px; }
  }
}

.remove-categories-container {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
}

.subheader {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 3fr 1fr;

  & * { color: darken($gray, 20%); }

  & > div {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: end;
  }

  & i {
    font-size: 12px;
    color: darken($gray, 30%);
  }
}

.date {
  display: grid;
  align-items: center;
  font-size: 12px;
}

.cluster-link {
  font-size: 12px;
  background-color: lighten($purple, 50%);
  color: $purple;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 2px 5px;
  border-radius: 2px;

  &.unlink i {
    font-size: 12px;
  }
}
