.thought-list {
  display: grid;
  grid-gap: 20px;
  padding-top: 10px;

  &.linked { grid-gap: 0; }
}

.thought {
  display: grid;
  grid-gap: 10px;
  background-color: $white;
  color: $black;

  position: relative;

  padding: 10px;
  border: solid 2px transparent;
  transition: border .5s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  &.selected { border-color: lighten(#504679, 10%); }
  & * { color: $black; }
  & p { padding: 10px 0; }

  &.thought-cluster {
    margin-top: 16px;
  }

  &.thought-cluster:after {
    content: '';
    width: 99.5%;
    height: 7px;
    position: absolute;
    top: -9px;
    left: 0.25%;
    right: 0.25%;
    background-color: #6C91C2;
    transition: background-color 0.5s;
  }
  &.thought-cluster:before {
    content: '';
    width: 98%;
    height: 10px;
    position: absolute;
    top: -14px;
    left: 1%;
    right: 1%;
    background-color: lighten(#6C91C2, 10%);
    transition: background-color 0.5s;
  }

  &.thought-cluster.selected:after {
    background-color: lighten(#504679, 10%);
  }
  &.thought-cluster.selected:before {
    background-color: lighten(#504679, 20%);
  }

  &.thought-linked {
    padding-top: 25px;
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;

  & > button, & > span {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.category {
  display: grid;
  align-items: center;
  font-size: 12px;
  text-align: center;
  line-height: 1em;
  padding: 5px 7px;
  background-color: $teal;
  color: $white;

  &.remove-category {
    & * { color: $white; }

    & > span {
      display: flex;
    }

    & i {
      font-size: 10px;
      align-self: flex-end;
      margin-left: 5px;
      margin-bottom: 1px;
    }
  }
}

.subheader {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;

  & * { color: darken($gray, 20%); }

  & > span:nth-child(2) {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
  }
  & > span:last-child {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: end;
  }

  & i {
    font-size: 0.9em;
    color: darken($gray, 30%);
  }
}

.date {
  display: grid;
  align-items: center;
  font-size: 12px;
}

.cluster-link {
  font-size: 0.9em;
  background-color: #504679;
  border-radius: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 3px 5px;

  display: flex;
  & > * {
    margin-right: 3px;
    align-self: center;
  }

  &, & * { color: $white; }
  &.unlink i { font-size: 1em; }
}

.thought-stream {
  position: relative;
}

.cluster-button-fixed {
  position: fixed;
  bottom: -80px;
  left: 0;
  background-color: $white;
  box-shadow: 0 1px 20px rgba(0,0,0,0.19), 0 1px 6px rgba(0,0,0,0.23);
  width: 100%;
  padding: 15px 20px;
  transition: all 0.2s;
  
  display: grid;

  &.active {
    bottom: 0;
  }
}
