@import '_reset.scss';
@import '_colors.scss';

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
a { text-decoration: none; color: initial; }
h3 { font-size: 1.5em; }

* { box-sizing: border-box; }

@import '_header.scss';
@import '_nav.scss';
@import '_forms.scss';

// svg z-index
svg { z-index: -1; }

#main {
  padding-top: 5vh;
}

main {
  padding: 30px;
}

.btn {
  font-size: 16px;
  border: solid 2px $black;
  padding: 10px;
  border-radius: 5px;

  &-red {
    background-color: $red;
    color: $white;
    border-color: $red;
  }
  
  &-blue {
    background-color: $blue;
    color: $white;
    border-color: $blue;
  }
}

.btn-group {
  display: grid;
  grid-gap: 20px;
}

.subheader {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 3fr 1fr;

  & > div {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: end;
  }
}

.thought-list {
  display: grid;
  grid-gap: 5px;
}

.thought {
  display: grid;
  grid-gap: 5px;

  & p {
    padding-bottom: 5px;
  }
}

.date {
  display: grid;
  align-items: center;
  font-size: 14px;
  color: $gray;
}
