@import '_reset.scss';
@import '_colors.scss';
@import url('https://fonts.googleapis.com/css?family=Lato|Sofia');

/*
font-family: 'Sofia', cursive;
font-family: 'Quicksand', sans-serif;
*/

html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

//body { background-color: lighten($navy, 5%); }
//body { background-color: darken(#526187, 10%); }
body { 
  background-color: $white;
  line-height: 1.5em;
}

a { text-decoration: none; color: initial; }
h2 { font-size: 2em; }
h3 { font-size: 1.7em; line-height: 2em; }
h3 { font-size: 1.4em; line-height: 2em; }

* {
  box-sizing: border-box;
  color: $black;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

@import '_header.scss';
@import '_forms.scss';
@import '_buttons.scss';
@import '_loader.scss';
@import '_chartstyles.scss';

// pages
@import '_nav.scss';
@import '_thoughts.scss';
@import '_welcome.scss';
@import '_messages.scss';
@import '_analysis.scss';


// svg z-index
svg { z-index: -1; }

main {
  padding: 65px 20px;
  display: grid;
  align-items: center;
  height: 100%;
}

.login { padding-bottom: 30px; }
.welcome { text-align: center; & h2 { line-height: 1.5em; } }